@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

html {
  background-color: #1c1d25;
}

h1 {
  font-size: 40px;
}

p {
  letter-spacing: 2px;
  font-size: 20px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-right: 2rem;
}

.navbar-name {
  font-size: 2.2rem;
  color: white;
  align-self: flex-start;
  padding-top: 10px;
  padding-left: 2rem;
  letter-spacing: 3px;
  z-index: 2;
}

.top-btn {
  background-color: #1c1d25;
  color: white;
  width: 5rem;
  height: 2rem;
  font-size: 15px;
  border: solid 1px white;
  border-radius: 15px;
  margin-left: 15px;
  cursor: pointer;
  
}

.top-btn:nth-child(1):hover {
  box-shadow: 5px 5px #9a04bf;
  border-color: #9a04bf;
  width: 5.5rem;
  transition: .5s;
}

.top-btn:nth-child(2):hover {
  box-shadow: 5px 5px #d96500;
  border-color: #d96500;
  width: 5.5rem;
  transition: .5s;
}

.top-btn:nth-child(3):hover {
  box-shadow: 5px 5px #f5c31d;
  border-color: #f5c31d;
  width: 5.5rem;
  transition: .5s;
}

.hero-container {
  height: 100vh;
  background-color: #1c1d25;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-text {
  z-index: 2;
  padding-left: 10%;
  width: 40%;
}


.wrapper h1 {
	color: #fff;
	font-size: 80px ;
	font-weight: 600;
	background: linear-gradient(110deg, white 20%, #f5c31d 30%, #d96500 35%, #9a04bf 40%, #9a04bf 60%, #d96500 65%, #f5c31d 70%, white 80%);
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 5s linear infinite;
	display: inline-block;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.home-container {
  display: flex;
  text-align: left;
}

.logo-container {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.logo {
  min-width: 450px;
  max-width: 50%;
  margin-right: 10%;
}

.hero-icon {
  height: 100%;
  z-index: 2;
  justify-content: flex-end;
}

.gh-icon:hover {
  background: linear-gradient(to left, #9a04bf 50%, #f5c31d 100%);
  border-radius: 50px;
  height: 110%;
  transition: 0.5s;
}


.li-icon:hover {
  background: linear-gradient(to left, #9a04bf 50%, #f5c31d 100%);
  border-radius: 20px;
  height: 110%;
  transition: .5s;
}

.res-icon:hover {
  background: linear-gradient(to left, #9a04bf 50%, #f5c31d 100%);
  border-radius: 5px;
  height: 110%;
  transition: .5s;
}

.home-container a {
  width: 2.5rem;
  margin-right: 2.5rem;
}

.shape {
  width: 0;
  height: 0;
  border-top: 900px solid #111217;
  border-left: 800px solid transparent;
  z-index: 1;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

.skill-container {
  background-color: #1c1d25;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

*, *::before, *::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.skill-badge {
	position: relative;
	z-index: 0;
	min-width: 100px;
  max-width: 350px;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	padding: 2rem;
  margin: 0 5%;
  padding: 2rem;
  text-align: center;
}

.skill-badge::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-position: 100%;
  background-image: linear-gradient(110deg, white 20%, #f5c31d 30%, #d96500 35%, #9a04bf 40%, #9a04bf 60%, #d96500 65%, #f5c31d 70%, white 100%);;
  animation: rotate 6s linear infinite;
}

.skill-badge::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: #111217;
  border-radius: 5px;
  animation: opacityChange 3s infinite alternate;
}

.skill-badge img {
  width: 4rem;
  margin: 1.5rem;
}

.skill-badge h2 {
  margin-bottom: 1rem;
}

.skill-badge p {
  color: #acacad;
}

.about-me {
  background-color: #1c1d25;
  color: white;
  text-align: center;
  padding: 10rem;
}

.about-me h1 {
  margin-bottom: 2rem;
}

.prof-img {
  min-width: 250px;
  max-width: 25%;
  border-radius: 15px;
  margin-bottom: 4rem;
  padding: 10px;
  border-width: 5px;
  border: 8px solid;
  border-image: linear-gradient(45deg, #9a04bf, #d96500, #f5c31d) 1;
}

.about-me p {
  color: #acacad;
}

.project-container {
  background-color: #1c1d25;
}

.project-container h1 {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.project {
  height: 23rem;
  width: 85%;
  border: solid 2px white;
  border-radius: 15px;
  background-color: #111217;
  margin: auto;
  display: flex;
  align-items: center;
}

.project-2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
  margin-bottom: 10rem;
  transition: .5s;
}

.project-desc {
  color: white;
  flex-grow: 1; 
  width: 50%;
  padding: 0 2rem;
}

.project:hover {
  transform: translate(0, -2%);
}

.project:hover,
.project:hover .img-container {
  border-color: #9a04bf;
  transition: .5s;
  animation: project-hover 8s linear infinite;
}

.project-desc h3 {
  margin-left: 10px;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

@keyframes project-hover {
  0% {border-color: #f5c31d;}
  25% {border-color: #d96500;}
  50% {border-color: #9a04bf;}
  75% {border-color: #d96500;}
  100% {border-color: #f5c31d;}
}

.project-desc p {
  margin-left: 10px;
  padding-bottom: 1rem;
  font-size: 13px;
  color: #acacad;
}

.project-desc img {
  width: 3rem;
  margin-right: 2rem;
}


.img-container {
  border: solid 2px white;
  height: 100%;
  width: 35rem;
  border-radius: 15px;
}

.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
}

.site-container {
  margin-left: auto;
  align-self: center;
  display: flex;
}

.code-btn,
.site-btn {
  border-radius: 10px;
  width: 4rem;
  height: 2.5rem;
  color: white;
  font-size: 12px;
  margin-right: 10px;
  padding: 5px;
  background-color: #1c1d25;
  border: 2px solid white;
  text-decoration: none;
  cursor: pointer;
  transition: .5s;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.code-btn:hover {
  border: 2px solid #d96500;
}

.site-btn:hover {
  border: 2px solid #f5c31d;
}

.icon-container-2 {
  display: flex;
  justify-content: flex-start;
}

.contact-container {
  background-color: #1c1d25;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  margin-top: 10rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form h1 {
  color: white;
}

.form-item {
  margin-top: 2rem;
  width: 20rem;
  border-radius: 10px;
  padding-left: 5px;
  border: none;
}

input.form-item {
 height: 2rem;
}

textarea.form-item {
  height: 7rem;
  width: 25rem;
  padding-top: 7px;
}

button.form-item {
  width: 10rem;
  height: 2rem;
  background-color: #111217;
  border: solid 2px white;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.success {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  border: solid 2px white;
  margin: 1.5rem;
  border-radius: 15px;
  background-color: #111217;
}

@media (max-width: 1100px) {
  .project {
    width: 70%;
    height: 15%;
    position: relative;
  }

  .project.hovered .project-desc {
    display: flex;
    opacity: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    color: white;
    cursor: pointer;
  }

  .project.hovered .project-desc:hover {
    opacity: 1;
    transition: .7s;
  }

  .img-container {
    width: 100%;
    z-index: 1;
  }

  .project-desc {
    color: white;
    flex-grow: 1;
    padding: 0 2rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start; 
  }
  
  .project-desc h3 {
    margin-left: 10px;
    font-size: 1.5rem;
  }
  
  .project-desc p {
    margin-left: 10px;
    font-size: 15px;
    color: #acacad;
  }

  .icon-container,
  .icon-container-2 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .icon-container img,
  .icon-container-2 img{
    margin: 0;
    width: 50px;
  }
  
  .site-container {
    position: absolute;
    margin-right: .5rem;
    right: .5rem;
    width: 25%;
    align-self: center;
  }
}

@media (max-width: 770px) {

  .navbar {
    display: grid;
    text-align: center;
    justify-content: center;
  }
  
  .navbar-name {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding: 0;
  }
  
  .navbar-nav {
    padding: 0;
  }
  
  .top-btn {
   margin: .5rem;
  }

  .hero-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-text {
    padding: 5rem 0 0;
    width: 70%;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .home-container {
    justify-content: center;
  }

  .home-container a {
    margin:  1rem;
  }

  .home-container img {
    width: 90%;
    height: auto;
  }

  .logo-container {
    justify-content: center;
    width: 90%;
  }

  .logo {
    min-width: 300px;
    margin: 0;
  }

  .skill-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .skill-badge {
    width: auto;
    margin: 2rem;
  }

  .about-me {
    padding: 8rem 1rem 0;
  }

  .project-container {
    padding-top: 8rem;
  }

  .project {
    width: 90%;
    flex-direction: column;
  }

  .project-2 {
    margin-bottom: 8rem;
  }

  .project-desc {
    padding: 0;
    width: 90%;
    align-items: center;
    text-align: center;
  }

  .project-desc h3 {
    margin: 1rem 0;
  }

  .project-desc p {
    margin: 0;
    font-size: 12px;
  }

  .icon-container,
  .icon-container-2 {
    display: grid;
    grid-template-rows: 5rem 5rem;
    place-items: center;
  }

  .site-container {
   position: static;
   width: auto;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .code-btn {
    margin: 0 5px;
  }

  .contact-container {
    width: 100%;
    margin-top: 5rem;
    height: 70vh;
  }

  .form-item {
    width: min(200px)
  }

  textarea.form-item {
    width: 70%;
  }
}
